<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ぬるぬる</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.nurunuru.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nurunuru</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>QRコード読み取りのためにカメラを使用します</string>
	<key>NSFaceIDUsageDescription</key>
	<string>秘密鍵の保護に生体認証を使用します</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>最寄りのNostrリレーを自動検出するために位置情報を使用します</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>投稿や引用投稿で音声を収録するためにマイクを使用します</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>投稿や引用投稿のためにフォトライブラリから画像や動画を選択します</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>投稿や引用投稿で音声入力を行うために音声認識を使用します</string>
	<key>UIAppFonts</key>
	<array>
		<string>LineSeedJP-Rg.ttf</string>
		<string>LineSeedJP-Bd.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
